/* Basic Styling
-----------------------------------------*/
html,body,main {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Noto Sans TC","Montserrat",sans-serif;
  background-color: #e9e4d9;
}

.container {
  max-width: 2000px;
  margin: 5% auto;
  display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 600px;
    display: block;
    max-height: 892px;
    padding: 0;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 80%;
    display: block;
  }
  .slider-block {
    margin: 3% 1%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
      width: 100%;
      display: flex;
  }
}

/* Left Columns - Product Viewer
-----------------------------------------*/

#sdv-container {
  width: 60%;
  height: 700px;
  position: relative;
  margin-right: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #sdv-container {
      width: 100%;
      height: 50%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #sdv-container {
    width: 100%;
    height: 40%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #sdv-container {
    width: 60%;
    height: 700px;
  }
}

.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}

.right-column {
  width: 60%;
  margin-top: 60px;
  background: #fbf9f1;
  margin-left: 20px;
  border-radius: 1em;
  box-shadow: 4px 4px 85px 2px #0000002e;
  height: fit-content;
  height: -moz-fit-content;
  z-index: 1;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .right-column {
    width: auto;
    margin: 0;
    border-radius: 1em 1em 0 0;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .right-column {
    width: auto;
    margin: 3%;
  }
}
/* Right Column - Product Title
-----------------------------------------*/

.title-prompt {
  font-size: 20px;
  color: #ea9917;
  font-weight: 700;
  margin-left: 30px;
  margin-bottom: 0.2rem;
  padding-top: 1em;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title-prompt {
    margin-left: 8%;
    font-size: 17px;
  }
}
.right-column h1 {
  font-weight: 700;
  margin-left: 25px;
  color: #522402;
}

/* Right Column - Product Parameters
-----------------------------------------*/
.param1, .param2, .param3, .param4 {
  border-radius: 0.5em;
  margin: 20px;
  width: auto;
  height: auto;
  display: flex;
  background-color: #edeae1cc;
}

#param2-test {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .param1, .param2, .param3, .param4 {
    width: auto;
    max-height: auto;
  }
}

.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 45px;
  color: #43484D;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.param-icon img, .param-icon_mobile img {
  vertical-align: middle;
  border-style: none;
  width: 78px;
  height: auto;
  margin: auto;
  padding: 20px;
}

.param-icon-img_mobile {
}

.param-icon-blk_mobile {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobile-params {
    display: flex;
    padding: 0 20px;
  }
  .param-icon_mobile {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .param-icon {
    display: none;
  }
  .param-switch_mobile {
    display: none;
    margin: 0 20px 20px 20px;
  }
  .param-stay-open_mobile {
    pointer-events: none;
  }
  .param-icon-blk_mobile {
    display: flex;
  }
  .param-blk_mobile {
    border-radius: 0.5em;
    margin: 20px;
    width: auto;
    height: auto;
    display: flex;
    background-color: #edeae1cc;
  }
  .tooltip {
    display: none;
  }
}

.param-adjust {
  flex-grow: 5;
}

.param-adjust h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px;
  border-bottom: 1px solid #52240229;
  padding-bottom: 5px;
  padding-top: 2px;
  cursor: pointer;
  color: #522402;
}

.adjust-labels-left, .adjust-labels-right, .adjust-labels-middle, .adjust-labels {
  margin: 12px;
}

.adjust-labels-left p, .adjust-labels-right p, .adjust-labels-middle p, .adjust-labels p {
  margin-bottom: 0.2rem;
  font-weight: 700;
  color: #424242de;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  .adjust-labels-hidden {
    display: none !important;
  }
}

#materialOptions {
  width: 100%;
  text-align: center;
  z-index: 10;
}

/* Right column - parameter dropdown styling
-----------------------------------------*/
.select-box {
  position: relative;
  display: block;
  width: 95%;
  margin: 0;
  font-size: 18px;
  color: #60666d;
}

.select-box__current {
  position: relative;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  border: 2px solid grey;
  border-radius: 0.5rem;
  font-size: initial;
  line-height: 1.1;
  margin: 5px 0;
}
.select-box__current:focus {
  cursor: default;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input, .select-box-top__input, .select-box-middle__input, .select-box-lower__input {
  display: none;
}
.select-box-top__input:checked + .select-box__input-text, .select-box-middle__input:checked + .select-box__input-text, .select-box-lower__input:checked + .select-box__input-text,
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 5px;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgb(0 0 0 / 60%);
  z-index: 10;
  border-radius: 0.5em;
  background-color: #fff8e4;
}

.list-hidden {
  display: none;
}

.select-box__option, .select-box-left__option, .select-box-right__option, .select-box-middle__option {
	 display: block;
	 padding: 5px;
   margin:0;
	 background-color: ##fff8e4;
    border-radius: 0.5em;
}
.select-box__option:hover, .select-box__option:focus, .select-box-left__option:hover, .select-box-left__option:focus,  .select-box-right__option:hover, .select-box-right__option:focus,  .select-box-middle__option:hover, .select-box-middle__option:focus {
	 color: #546c84;
	 background-color: #fbfbfb;
   cursor: pointer;
}
 @keyframes HideList {
	 from {
		 transform: scaleY(1);
	}
	 to {
		 transform: scaleY(0);
	}
}

/* Right column - material card styling
-----------------------------------------*/
.material-card {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1%;
  display: inline-block;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .material-card img {
    width: 90;
    height: 45;
  }
}

.material-card p {
  margin: 6px;
  font-weight: 700;
  color: #424242de;
}

.material-card img {
  border-radius: 0.4em;
}

/* Right column - email input and submission styling
-----------------------------------------*/
.email-submit {
  flex-grow: 1;
}

.submit {
  position: relative;
  display: inline-block;
  width: 205px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  text-decoration:none;
  font-size:17px;
  font-weight: 700;
  letter-spacing: 0.045em;
}

.submit:hover {
  text-decoration:none;
}

.submit svg {
  position: absolute;
  top: 0;
  left: 0;
}

.submit svg rect {
  stroke-width: 2;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.submit span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 70, 350;
  stroke-dashoffset: 230;
}


.slider-row {
  display: flex;
}

.slider-adjust {
  width: 75%;
  cursor: pointer;
  height: 3px;
  background: #bcbcbc;
  margin-top: 11px;
}

.slider-adjust::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ef6e0c;
}

.slider-output {
  font-size: 23px;
  margin-left: 15px;
  margin-right: 5px;
  line-height: 0.9;
}


/* Right column - Submit button styling
-----------------------------------------*/

.button-submit {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background: linear-gradient(to right, #226CE0 0%, #226CE0 50%, #ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 2.4rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 8rem;
  box-shadow: 2px 2px 5px 2px #88888833;
}

.button-submit:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 0.4s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.button-submit:focus {
  border: none;
}

.noUi-target {
  border: none;
  background: #bcbcbc;
  height: 3px;
}

.noUi-base {
  height: 3px;
}

.noUi-handle {
  cursor: pointer;
  border: none;
  box-shadow: none;
  background: #ef6e0c;
  width: 13px !important;
  height: 13px !important;
  right: -9px !important;
  top: -5px !important;
  border-radius: 50%;
}

.noUi-handle:focus {
  outline: none;
}

.noUi-handle:after, .noUi-handle:before {
  height: 0;
}

.noUi-connect {
  background: #ef6e0c;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button-submit {
    font-size: 12px;
  }
  #title {
    font-size: 32px;
    margin-left: 8%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .button-submit {
    font-size: 14px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #title {
    font-size: 36px;
  }
}

/* (FREE ADJUSTMENT LAYOUT ONLY)
-----------------------------------------*/

.double-slider-row {
  display: flex;
  gap: 14px;
}

.slider-block {
  margin: 3% 1%;
}

.row-count-param {
  display: flex;
  margin: 1%;
}

#row-count {
  border: 1px solid #ced4da;
  background-color: white;
  border-radius: 3px;
  color: #6f747a;
  flex-grow: 1;
  height: 31px;
}
.connect-box-param {
  display: flex;
  margin: 1%;
}
.index-show-check {
  display: flex;
  margin: 0 10%;
}

.custom-control {
  flex-grow: 1;
}
.custom-control-label {
  margin-bottom: 0.2rem;
  font-weight: 700;
  color: #424242de;
}

.slider-value {
  flex-grow: 1;
  font-size: 10px;
  margin-top: 5px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1200px) {
  .row-count-param, .connect-box-param, .index-show-check {
    margin: 2%;
  }
}

@media only screen and (max-width: 450px) {
  .row-count-param, .connect-box-param, .index-show-check {
    display: block;
  }
  #row-count {
    width: 100%;
  }
}

.loader {
  border: 6px solid #fcf5e6;
  border-radius: 50%;
  border-top: 6px solid #ff7600;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s cubic-bezier(0.42, 0.21, 0.55, 0.85) infinite;
  position: absolute;
  top: 41%;
  left: calc(60% - 30%);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Small devices (portrait tablets and large phones, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .loader {
    top: 19%;
    left: 44%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .loader {
    top: 19%;
    left: 37%;
    border: 4px solid #fcf5e6;
    border-top: 4px solid #ff7600;
  }
}
