/* Basic Styling
-----------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Noto Sans TC","Montserrat",sans-serif;
  background-color: #fff8e4;
}

.container {
  max-width: 2000px;
  margin: 5% auto;
  display: flex;
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1250px;
  }
}

/* Columns
-----------------------------------------*/
#sdv-container {
  width: 65%;
  position: relative;
  margin-right: 10px;
}

.right-column {
  width: 60%;
  margin-top: 60px;
  background: #ffffff00;
}

/* Left Columns - Product Viewer
-----------------------------------------*/
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}


/* Right Column General
-----------------------------------------*/
.right-column {
  margin-left: 20px;
}



/* (Right Column) Product Title
-----------------------------------------*/

.title-prompt {
  font-size: 20px;
  color: #ea9917;
  font-weight: 700;
  margin-left: 30px;
  margin-bottom: 0.2rem;
}
.right-column h1 {
  font-size: 40px;
  font-weight: 700;
  margin-left: 25px;
/*   color: #024785; */
}

/* (Right Column) Product Parameters
-----------------------------------------*/
.param1, .param2, .param3, .param4 {
  border-radius: 1em;
  margin: 20px 0 20px 10px;
  width: auto;
  height: auto;
  box-shadow: 3px 3px 6px 2px #de9826c2;
  display: flex;
  background-color: #ffc05ae8;
}

.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}


.param-icon {
  flex-grow: 1;
  display: contents;
}

.param-icon img {
  vertical-align: middle;
  border-style: none;
  /* object-fit: cover; */
  width: 72px;
  height: auto;
  margin: auto;
  padding: 10px 10px 10px 15px;
}

.param-adjust {
  flex-grow: 5;
}

.param-adjust h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  border-bottom: 2px solid #52240229;
  padding-bottom: 5px;
  padding-top: 2px;
  cursor: pointer;
  color: #522402;
}

.product-description h1 {
  font-weight: 300;
  font-size: 45px;
  color: #43484D;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.adjust-labels-left, .adjust-labels-right, .adjust-labels-middle, .adjust-labels {
  margin: 10px;
}

.adjust-labels-left p, .adjust-labels-right p, .adjust-labels-middle p, .adjust-labels p {
  margin-bottom: 0.2rem;
  font-weight: 700;
  color: #424242de;
}

.adjust-labels-hidden {
  display: none;
}
/* Cable Configuration
-----------------------------------------*/

.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}

.cable-config a:before {
  content: &amp;
  quot;
  ?&amp;
  quot;
  ;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price
-----------------------------------------*/
.product-price {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
  margin-top: 0;
}

.product-price button {
  border: none;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

.cart-btn:hover {
  background-color: #64af3d;
  color: #2F4F4F;
  text-decoration: none;
}

#materialOptions {
  width: 100%;
  text-align: center;
  z-index: 10;
}

/* Material card styling
-----------------------------------------*/
.material-card {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1%;
  display: inline-block;
  cursor: pointer;
}


.material-card p {
  margin: 6px;
  font-weight: 700;
  color: #424242de;
}

.material-card img {
  border-radius: 0.4em;
}

/* mouse interaction styling
-----------------------------------------*/
#interaction {
  display: block;
  position: relative;
  bottom: 20px;
  width: 100%;
  /* height: 50%;
   */
}

/* email input and submission styling
-----------------------------------------*/

.email-submit {
  flex-grow: 1;
}


.submit {
  position: relative;
  display: inline-block;
  width: 205px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  text-decoration:none;
  font-size:17px;
  font-weight: 700;
  letter-spacing: 0.045em;
}

.submit:hover {
  text-decoration:none;
}

.submit svg {
  position: absolute;
  top: 0;
  left: 0;
}

.submit svg rect {
  stroke-width: 2;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.submit span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 70, 350;
  stroke-dashoffset: 230;
}

/* Dropdown styling
-----------------------------------------*/

.select-box {
  position: relative;
  display: block;
  width: 95%;
  margin: 0;
  font-size: 18px;
  color: #60666d;
}

.select-box__current {
  position: relative;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  border: 2px solid grey;
  border-radius: 0.5rem;
  font-size: initial;
  line-height: 1.1;
  margin: 5px 0;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input, .select-box-top__input, .select-box-middle__input, .select-box-lower__input {
  display: none;
}
.select-box-top__input:checked + .select-box__input-text, .select-box-middle__input:checked + .select-box__input-text, .select-box-lower__input:checked + .select-box__input-text,
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 5px;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgb(0 0 0 / 60%);
  z-index: 10;
  border-radius: 0.5em;
  background-color: #ffe3b4;
}

.select-box__sections {

}

.list-hidden {
  display: none;
}

.select-box__option, .select-box-left__option, .select-box-right__option, .select-box-middle__option {
	 display: block;
	 padding: 5px;
   margin:0;
	 background-color: #ffe3b4;
    border-radius: 0.5em;
}
.select-box__option:hover, .select-box__option:focus, .select-box-left__option:hover, .select-box-left__option:focus,  .select-box-right__option:hover, .select-box-right__option:focus,  .select-box-middle__option:hover, .select-box-middle__option:focus {
	 color: #546c84;
	 background-color: #fbfbfb;
}
 @keyframes HideList {
	 from {
		 transform: scaleY(1);
	}
	 to {
		 transform: scaleY(0);
	}
}

.slider-row {
  display: flex;
}

.slider-adjust {
  width: 75%;
  cursor: pointer;
}

.slider-output {
  font-size: 23px;
  margin-left: 15px;
  margin-right: 5px;
  line-height: 0.9;
}

/* submit button styling
-----------------------------------------*/

.button-submit {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background: linear-gradient(to right, #226CE0 0%, #226CE0 50%, #ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 2.4rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 8rem;
  box-shadow: 2px 2px 5px 2px #88888833;
}

.button-submit:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 0.5s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.button-submit:focus {
  border: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
