/* Basic Styling
-----------------------------------------*/
html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Noto Sans TC","Montserrat",sans-serif;
  background-color: #ede2cd;
  scroll-behavior: smooth;
}

/* cover photo expand for very small screen
-----------------------------------------*/
@media (max-width: 400px) {
  body {
    width: 75vh;
  }
}

/* First section - Cover Photo
-----------------------------------------*/
.finish-cover img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#section-1 {
  cursor: default;
}
.email-row {
  margin: auto 20px auto 5px;
  position: relative;
}

.button-submit {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background: linear-gradient(to right, #226CE0 0%, #226CE0 50%, #ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 5px 2px #88888833;
  color: #fff;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 2.4rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.button-submit:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#section-2 {
  margin: 5% 25%;
  text-align: center;
  line-height: 1.7;
}

#section-2 h1 {
  font-size: 2.6em;
  color: #102571;
  font-weight: 400;
  letter-spacing: 2px;
}

#section-2 h3 {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.7;
  color: #777;
}

.learn-more h2 {
  margin-bottom: 2%;
  margin-top: 3%;
  letter-spacing: 1px;
  font-size: 1.7rem;
  color: #66562f;
}
.contact {
  display: flex;
  text-align: center;
  margin: 0 15% 5%;
}
.contact h2 {
  font-size: 1.7rem;
  color: #66562f;
}

.fb-link {
  flex-grow: 1;
  padding-right: 10px;
}
.contact-info {
  flex-grow: 1;
}
.contact-info h3 {
  font-size: 1em;
  line-height: 1;
  font-weight: 400;
  color: #777;ss
}
.site-footer
{
  display: block;
  font-size: 10px;
  color: #9b9082;
}

@media (max-width: 796px) {
  .contact {
    display: block;
    margin: 0 10% 5%;
  }
  #section-2 {
    margin: 5% 14%;
  }
  #section-2 h3 {
    font-size: 0.8em;
  }
}


.finish-greeting-block {
  position: absolute;
  display: inline-block;
  border: 2px solid white;
  border-radius: 10px;
  width: 30em; /*Try around different unit and sclae to find best fit (use fixed lengths)*/
  height: 415px;
  top: 50%;
  margin-top: -203px;
  left: 50%;
  margin-left: -15em;
  background-color: #372c1d5c;
}
.greeting-icon, .greeting-text, .email-row {
  margin: 20px 28px;
  width: auto;
/*   height: 8vh; */
}
.greeting-text h1 {
  color: white;
  text-align: center;
  font-weight: 400;
}
.greeting-text p {
  color: white;
  text-align: center;
  font-weight: 300;
  margin: 10px 50px;
}
.greeting-icon img {
  position: relative;
  margin: 10px 40% 0;
  width: auto;
  height: 90px;
}

.move-on-greeting {
  color: white;
  text-align: center;
  margin-top: 50%;

}

@media (max-width: 600px) {
  .finish-greeting-block {
    width: 20em;
    margin-left: -10em;
  }
  .greeting-icon, .greeting-text, .email-row {
  }
  .greeting-text h1 {
    font-size: 2rem;
  }
  .greeting-text p {
  }
  .greeting-icon img {
    margin: 10px 37% 0;
    height: 75px;
  }
}
@media (max-width: 400px) {
  .finish-greeting-block {
    left: 37.5vh;
  }
  .greeting-icon, .greeting-text, .email-row {
  }
  .greeting-text h1 {
    font-size: 2rem;
  }
  .greeting-text p {
  }
  .greeting-icon img {
  }
}
