/* Basic Styling
-----------------------------------------*/
html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Noto Sans TC","Montserrat",sans-serif;
  background-color: #ffe5c3;
  scroll-behavior: smooth;
}

.finish-cover img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
